#main-menu {
    text-align: center;
}

.game-board {
    margin: auto;
    background: black;
    width: 693px;
    height: 850px;
}

h1 {
    text-align: center;
    font-family: "Phetsarath OT", serif;
    font-size: 60px;
    position: relative;
    z-index : 9;
}


#enemy {
    width: 99px;
    padding: 0;
    border-width: 0;
    margin-top: -99px;
    position: absolute;
    z-index: 1;
}

#enemy_hidden {
    width: 99px;
    padding: 0;
    border-width: 0;
    display: none;
    margin-top: -99px;

}

#main_car {
    width: 99px;
    margin-left: -33px;
    padding: 0;
    border-width: 0;
}

#main_car_hidden {
    width: 99px;
    margin-left: -33px;
    padding: 0;
    border-width: 0;
    display: none;
}


#fence {
    height: 66px;
    width: 33px;
}

#fence_hidden {
    height: 66px;
    width: 33px;
    display: none;
}

.game-cell {
    width: 33px;
    height: 33px;
    display: inline-block;
    text-align: center;
    color: grey;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border-width: 0;
}

.cell-container {
    height: 33px;
}

img {
    margin: 0;
    padding: 0;
    border-width: 0;
}

div {
    margin: 0;
    padding: 0;
    border-width: 0;
}