#main-menu {
    text-align: center;
}

.game-board {
    margin: auto;
    background: black;
    width: 700px;
    height: 900px;
}

h1 {
    text-align: center;
    font-family: "Phetsarath OT", serif;
    font-size: 60px;
}

#car {
    width: 100px;
    margin-left: 33px;
    margin-top: 766px;
}

#fence {
    height: 67px;
    width: 33px;
    margin-left: 33px;
}