<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classic car game</title>
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h1>Classic Car Game</h1>
    <div class="main-menu" id="main-menu">
        <img alt="start-page" src="{{ url_for('static', filename="images/game-start.jpg") }}">
    </div>

    <div class="game-board">
        <img alt="fence" id="fence" src="{{ url_for('static', filename='images/fence.svg') }}">
        <img alt="car" id="car" src="{{ url_for('static', filename='images/car.svg') }}">
    </div>
</body>
</html>